<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="assets/isidro-logo.png" height="25%">
                <hr class="light">
                <p> www.professorisidro.com.br </p>
                <p> instagram.com/professorisidro</p>
                <p>twitter.com/prof_isidro</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>
                    100% Gratuito
                </h5>
                <hr class="light">
                <p> Todo conteúdo é 100% gratuito para quem quiser estudar!</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>
                    Tem Aula!

                </h5>
                <hr class="light">
                <p> Nosso grupo do Telegram </p>
                <p>
                    <a href="http://t.me/TemAula">Tem Aula!</a>
                </p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5> &copy; www.professorisidro.com.br </h5>


            </div>
        </div>
    </div>
</footer>